body { margin: 0; padding: 0; }
#map { position: absolute; top: 0; bottom: 0; width: 100%; }
#floating-menu {
    position: absolute;
    top: 20px;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 0 10px 10px 0; /* Скругляем правый верхний и нижний углы */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: left 0.3s ease; /* Анимация движения */
    height: 600px;
    overflow-y: auto; /* Включаем вертикальный скроллбар */
    overflow-x: hidden; /* Скрываем горизонтальный скроллбар */
}

#ship-status-list {
    list-style: none;
    margin: 0 0;
    padding: 0 0;
}
/* Стили для тонкого скроллбара */
#floating-menu::-webkit-scrollbar {
    width: 5px; /* Ширина скроллбара */
}

#floating-menu::-webkit-scrollbar-track {
    background-color: transparent; /* Цвет фона скроллбара */
}

#floating-menu::-webkit-scrollbar-thumb {
    background-color: #888; /* Цвет самого скроллбара */
    border-radius: 5px; /* Скругление углов скроллбара */
}
#menu-toggle {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 0 10px 10px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: left 0.3s ease; /* Анимация движения */
}
#floating-menu.collapsed {
    left: -290px; /* Полностью скрываем меню за левым краем */
}
#menu-toggle span {
    transition: transform 0.3s ease; /* Анимация поворота */
}

#menu-toggle.collapsed {
    left: 0px; /* Открываем кнопку для клика */
}

#menu-toggle.collapsed span {
    transform: rotate(180deg); /* Поворачиваем иконку при сворачивании */
}

#ship-list {
    list-style-type: none;
    padding: 0;
}

.ship-item {
    margin-bottom: 10px;
}

.ship-item input[type="checkbox"] {
    margin-right: 5px;
}
.ship-icon {
    width: 25px; /* Ширина иконки */
    height: 25px; /* Высота иконки */
    background-image: url('/boat.png'); /* Фоновое изображение корабля */
    background-size: cover; /* Масштабирование фонового изображения */
    transition: 0.1s;
}


.icebreaker-icon {
    width: 80px; /* Ширина иконки */
    height: 40px; /* Высота иконки */
    background-image: url('/ledokol.png'); /* Фоновое изображение корабля */
    background-size: cover; /* Масштабирование фонового изображения */
}


#timer
{
    position: fixed;
    right: 10px;
    bottom: 10px;
    background-color: white;
    border-radius: 20px;
}

#timer-date
{

    text-align: center;
    font-size: larger;
    padding: 10px 10px;
    margin: 0 auto;

}


#speed-controls
{
    position: fixed;
    z-index: 10;
    bottom: 10px;
    right: calc(50% - 70px);
}